<%= simple_form_for([:customer,@job] , :validate => true ,:html => {:class => 'well form-horizontal'}) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.association :hospital, :label => 'Hospital' %>
    <%= f.association :area, :label => 'Especialidade' %>
  </div>

  <div class="control-group">
    <%= f.label 'Pré-Requisitos'  , :class => 'control-label' %>
    <div class="controls"><%= f.text_field :dependencies %></div>
  </div>

  <div class="control-group">
    <%= f.label 'Data do Plantão'  , :class => 'control-label' %>
    <div class="controls"><%= f.datetime_select :date,:order => [:day , :month, :year ],:prompt => {:day => 'Dia', :month => 'Mês', :year => 'Ano'},:class => 'date' %></div>
  </div>

  <div class="control-group">
    <%= f.association :shift, :label => 'Turno/Horário' %>
  </div>

  <div class="control-group">
    <%= f.label 'Valor do Plantão' , :class => 'control-label' %>
    <div class="controls"><%= f.number_field :price %></div>
  </div>

  <div class="control-group">
    <%= f.label 'Observações' , :class => 'control-label' %>
    <div class="controls"><%= f.text_field :description %></div>
  </div>
  <%= f.hidden_field :user_id,:value => current_user.id %>
  <div class="form-actions"><%= f.submit "Cadastrar", :class => "btn btn-primary" %></div>
<% end %>
