<%= render "user_mailer/top_mail" %>

<table class="w580" border="0" cellpadding="0" cellspacing="0" width="615">
  <tbody>
    <tr>
      <td class="w580" width="615">
        <p class="article-title" align="left">Mais um plantão foi disponibilizado para você!</p>
        <div class="article-content" align="left">
          <!-- // Begin Module: Standard Content \\ -->
          <table border="0" cellpadding="5" cellspacing="0" width="100%">
            <tr>
                <th width="180">Hospital:</th><td width="280"><%= @job.hospital.name %></td>
                <td rowspan="5" width="250">
                  <span class="article-title">
                    <a href="<%= @url%>/jobs/<%=@job.id%>">
                      <img src="<%= @url+@job.hospital.image.url(:small) %>" width="250" border="0" align="right" class="w300" label="Image" />
                    </a>
                  </span>
                </td>
            </tr>                                                             
            <tr>
              <th>Especialidade:</th>
              <td><%= @job.area.name %></td>
            </tr>
            <tr>
              <th>Data:</th>
              <td><%= @job.date.strftime("%d/%m/%Y") %></td>
            </tr>
            <tr>
              <th>Médico Responsável:</th>
              <td><%= @job.user.name %></td>
            </tr>
            <tr>
               <th>Valor:</th>
               <td>R$ <%= @job.price %></td>
            </tr>
            <tr>
               <th colspan="3" align="center">
                  <a href="<%= @url%>/jobs/<%=@job.id%>">
                    <img src="http://www.plantaonet.com/images/ver_plantao_btn.gif" style="max-width:160px;" align="center" class="w125" mc:label="image" mc:edit="tiwc200_image00" border="0" />
                  </a>
                </th>
            </tr>
          </table>
          <!-- // End Module: Standard Content \\ --> 
        </div>
      </td>
    </tr>
  </tbody>
</table>

<%= render "user_mailer/footer_mail" %>