<h1>Listing push_times</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @push_times.each do |push_time| %>
  <tr>
    <td><%= push_time.name %></td>
    <td><%= push_time.value %></td>
    <td><%= link_to 'Show', push_time %></td>
    <td><%= link_to 'Edit', edit_push_time_path(push_time) %></td>
    <td><%= link_to 'Destroy', push_time, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Push time', new_push_time_path %>
