<% @pagetitle = "Plantões Cedidos" %>
<div class="container">
   <div class="row-fluid">

        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Hospital</th>
                    <th>Especialidade</th>
                    <th>Pré-Requisitos</th>
                    <th>Data</th>
                    <th>Turno</th>
                    <th>Valor</th>
                    <th>Obs</th>
                    <th>Candidatos</th>
                    <th>Situação</th>
                    <th></th>
                    
               
                </tr>
            </thead>

        <% @jobs.each do |job| %>
        <% p job %>
            <tbody>
                <% if !job.request_id.nil? and  job.request_id != 0 
                    @class= "info txt-centralizado txt-pequeno "
                 elsif job.request_id == 0 
                    @class= "error txt-centralizado txt-pequeno "
                 else 
                    @class= "success txt-centralizado txt-pequeno "
                 end 
                 %>
                
                    <tr class="<%=@class%>" onclick="location.href='<%= job_path(job) %>'">
                        
                        <td>
                            <%= job.hospital.acronym %><br>
                            <%= job.hospital.name %>
                           
                        </td>
                        <td><%= job.area.name %></td>
                        <td><%= job.dependencies %></td>
                        <td><%= job.date.strftime("%d/%m/%Y - %H:%Mh") %></td>
                        <td><%= job.try(:shift).try(:name) %></td>
                        <td><%= to_real(job.price) %></td>
                        <td><%= job.description %></td>
                        <td><%= job.requests.count %></td>
                        <td>
                            <% if (!job.request_id.nil? and  job.request_id != 0) or ( job.date < Time.now + 1.day ) %>                    
                                <%=CONS::JOB[:ENCERRADO]%>
                            <% elsif job.request_id == 0 %>
                                <%=CONS::JOB[:EXCLUIDO]%>
                            <% else %>
                                <%=CONS::JOB[:ABERTO]%>
                            <% end %>
                        </td>
                        <td><%= link_to job do %><i class="icon-search icon-white"></i>Ver <%end%></td>
                        
                    </tr>
                
            </tbody>
        <% end %>
        </table>

    <%= will_paginate @jobs ,options = { :previous_label => "Anterior", :next_label => "Próximo", :class => "apple_pagination"} %>

</div>
