<style>
select { width: auto;}
</style>

<%= simple_form_for @job , :validate => true ,:html => {:class => 'well-signin form-horizontal',:novalidate => true } do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>  
  <% end %>
	<div class="control-group">
		<%= f.label 'Hospital'  , :class => 'control-label' %>
		<div class="controls">
			<%= f.association :hospital , :prompt => "Escolha um Hospital", :label => false %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label 'Especialidade'  , :class => 'control-label' %>
		<div class="controls">
			<%= f.association :area , :prompt => "Escolha uma Especialidade", :label => false %>
		</div>
	</div>

	<div class="control-group">
		<%= f.label 'Pré_requisitos'  , :class => 'control-label' %>
	<div class="controls"><%= f.text_area :dependencies,:rows => 4 %></div>
	</div>

	<div class="control-group">
  	  <%= f.label 'Data do Plantão'  , :class => 'control-label' %>
    	<div class="controls"><%= f.text_field :date , :class => 'date' %></div>
  	</div>

	<div class="control-group">
		<%= f.label 'Turno/Horário'  , :class => 'control-label' %>
		<div class="controls">
    		<%= f.association :shift, :label => false,:collection => Shift.all(:order => 'shifts.id') %>
    	</div>
  	</div>

	<div class="control-group">
		<%= f.label 'Valor'  , :class => 'control-label' %>
	<div class="controls">
	 <%= f.text_field :price %>
	 <%= select_tag(:price_type,  options_for_select([['Bruto', 1], ['Liquído', 2]])) %>
	</div>

	</div>

	<div class="control-group">
		<%= f.label 'Observações'  , :class => 'control-label' %>
		<div class="controls">
			<%= f.text_area :description, :rows => 4,:cols => 860 ,:maxlength => 140 %>
		</div>
	</div>
	<!--<div class="control-group">
    <div class="controls">
      <%= raw recaptcha_tag(:challenge) %>
    </div>    
 	</div> -->  
 
  <div class="form-actions">
  	<%= f.submit "Salvar", :class => "btn btn-success" %>

	<%= link_to 'Voltar', jobs_path , :class => "btn btn-warning"%>
	<input type="button" value="Limpar Dados" onClick="this.form.reset()" class="btn btn-danger" />
 				
  </div>		
  
<% end %>
