

<div class="well hero">
	<h1>Plantões</h1>
       
</div>
<div class="container">
   <div class="row-fluid">

	   <div class="span10">
	 		<h3>Aqui você vai encontrar todos os plantões que estão disponiveis, plantões que foram cedidos por outros médicos, assim facilitando a manutenção do serviço nos hospitais e ajudando a evitar as faltas nos plantões e emergencias nos hospitais no Brasil.</h2>

	   </div> 
	   <div class="span2">
			<%= link_to 'Cadastrar Plantão', new_job_path ,:class => "btn huge btn-success" %>
		</div> 
	</div>
	<br clear="all" />
	<div class="row-fluid">
		<div class="span3">
			<%= simple_form_for @search ,  :url => :showJobs , :validate => true ,:html => {:class => 'form ',:novalidate => true } do |f| %>
		 
		   Filtrar por:<br>
		         
					<%= f.association :hospital , :prompt => "--- Hospital ---", :label => false %>
					<%= f.button :submit, "Filtrar", :class => "btn-mini btn-primary" %>
		         
			<% end %>
		</div>

		<div class="span3">
			<%= simple_form_for @search ,  :url => :showJobs , :validate => true ,:html => {:class => 'form ',:novalidate => true } do |f| %>
		 
		   Filtrar por:<br>
		            
					<%= f.association :area , :prompt => "--- Área ---", :label => false %>
					<%= f.button :submit, "Filtrar", :class => "btn-mini btn-primary" %>
		            
			<% end %>
		</div>

		<div class="span3">
			<%= simple_form_for @search ,  :url => :showJobs , :validate => true ,:html => {:class => 'form ',:novalidate => true } do |f| %>
		 
		   Filtrar por:<br>
		            
	    			<%= f.association :shift,:prompt => "--- Turno ---", :label => false %>
	    			<%= f.button :submit, "Filtrar", :class => "btn-mini btn-primary form-inline" %>
		            
			<% end %>
		</div>
	</div>
	<br clear="all" />
	<ul class="thumbnails">
		<% @jobs.each do |job| %>
	    	<a href="<%=  job_path(job) %>">
	    		<li class="span3 white">
			        <table class="table table-condensed	caixa thumbnail" >
			        	<thead>
			        	<tr>
			        		<th colspan="2">
			        			<h4><%= job.area.name %> <br>(<%= job.hospital.city.name %> - <%= job.hospital.state.acronym %>) </h4>
			        		</th>
			        	</tr>
			        	 <tr>
			            	<th>Local:</th>
			            	<td><%=truncate(job.hospital.name, :ommision => "...", :length => 31) %></td>
			            </tr>
			            <tr>
			            	<th>Data:</th>
			            	<td><%= job.date.strftime("%d/%m/%Y") %> (<%= I18n.t("date."+job.date.strftime("%A"))%>)</td>
			            </tr>
						<tr>
							<th>Valor:</th>
							<td><%= to_real(job.price) %></td> 
						</tr>
						<tr>
							<th>Cedente:</th>
							<td><%= truncate(job.user.name,:ommision => "...", :length => 30) %></td> 
						</tr>
			            <tr>
			            
			            	<td colspan="2" id="job<%=job.id%>">
		            			<% if user_signed_in? %>
		            				<%= simple_form_for [:customer,@request],:html => {:class => 'form-inline'}, :remote => true  do |f| %>
		            					<div class="btn btn-info"><b><%=job.requests.count%></b> Candidato(s)</div>
				            			<% if !Request.where(:user_id => current_user.id,:job_id =>job.id).first %>
					            			<% if !job.request_id.nil? %>
					            				<div class="btn">Plantão Encerrado</div>
					            			<% elsif current_user.id != job.user_id  %>
				            				
				            					<%= f.hidden_field :job_id ,:value => job.id %>
				            					<%= f.submit "Pegar Plantão", :class => "btn btn-success" %>
				            				<% else %>	
				            					<div class="btn">Meu Plantão</div>
				            				<% end %>
				            			<% else  %>		
				            				<div class="btn btn-warning">Pleiteado</div>
				            			<% end %>	
				            		<% end %>
		            			<% end %>

			            	</td>
			             </tr>
			             </thead>
			        </table>
		    	</li>
			</a>
		<% end %>

	</ul>
	<%= will_paginate @jobs %>
</div> 