

<div class="well hero">
	<h1>Plantões</h1>
       
</div>
<div class="container">
    <div class="row-fluid">

	    <div class="span10">
	 		<h2>Aqui você vai encontrar todos os plantões que estão disponiveis, plantões que foram cedidos por outros médicos, assim facilitando a manutenção do serviço nos hospitais e ajudando a evitar as faltas nos plantões e emergencias nos hospitais no Brasil.</h2>

	    </div> 
	    <div class="span2">
			<%= link_to 'Cadastrar Plantão', new_job_path ,:class => "btn huge btn-success" %>
		</div> 
	</div>
	<br clear="all" />
	<br clear="all" />

	<ul class="thumbnails">
		<% @jobs.each do |job| %>
	    	<li class="span3 white">
		        <table class="table table-condensed	caixa thumbnail" >
		        	<thead>
		        	<tr>
		        		<th colspan="2">
		        			<h4><%= job.area.name %> (<%= job.hospital.city.name %> - <%= job.hospital.state.acronym %>) </h4>
		        		</th>
		        	</tr>
		        	 <tr>
		            	<th>Local:</th>
		            	<td><%=truncate(job.hospital.name, :ommision => "...", :length => 31) %></td>
		            </tr>
		            <tr>
		            	<th>Data:</th>
		            	<td><%= job.date.strftime("%d/%m/%Y - %H:%Mh")	 %></td>
		            </tr>
					<tr>
						<th>Valor:</th>
						<td><%= to_real(job.price) %></td> 
					</tr>
					<tr>
						<th>Cedente:</th>
						<td><%= truncate(job.user.name,:ommision => "...", :length => 30) %></td> 
					</tr>
		            <tr>
		            	<td>
		            			<%= link_to 'Ver', job_path(job), :class => "btn btn-inverse" %>
		            	</td>
		            	<td>
		            			<% if current_user.id != job.user_id %>
		            				<%= simple_form_for [:customer,@request],:html => {:class => 'form-inline'}, :remote => true  do |f| %>
		            					<%= f.hidden_field :job_id ,:value => job.id %>
		            					<%= f.submit "Pegar Plantão", :class => "btn btn-success" %>
		            				<% end %>
		            			<% end %>
		            	</td>
		             </tr>
		             </thead>

		        </table>
		    </li>

	      
	        <!--div class="thumbnail span3">
					<h4><%= job.area.name %> (<%= job.hospital.city.name %> - <%= job.hospital.state.acronym %>) </h4>
					<div class="caption">
						<p><b>Responsável:</b> <%= job.user.name %></p>
						<p><b>Preço:</b> <%= to_real(job.price) %></p>
						<h5><%= job.hospital.name %></h5>
						<p><%= job.description %></p>
						<p>
						<%= link_to 'Visualizar', job_path(job), :class => "btn btn-primary" %>
						<% if user_signed_in? %>
						<%= link_to 'Editar', edit_job_path(job), :class => "btn btn-warning" %>
						<% end %>
						</p>
					</div>
			</div-->
		


			
			<% end %>
		</ul>

  </div> 
</div> 