<% @pagetitle = "Plantão" %>
<body onload="carregar()">

  <div class="container">
     <div class="row-fluid">
      <div class="span4">
        <% if !@job.request_id.nil?%>
          <% if @job.request_id != 0 %>
            <div class="alert alert-info txt-centralizado"><h2><%=CONS::JOB[:ENCERRADO]%></h2></div>
          <% else %>
            <div class="alert alert-error txt-centralizado"><h2><%=CONS::JOB[:EXCLUIDO]%></h2></div>
          <% end %>
        <% else %>
            <div class="alert alert-success txt-centralizado"><h2><%=CONS::JOB[:ABERTO]%></h2></div>
        <% end %>
        <div id="mapa"></div>

            
      
      </div>
      <div class="span8">
          <table class="table table-striped well">
          <tbody>
            

            <tr>
                <th>Hospital:</th><td><%= @job.hospital.name %></td><td rowspan="6" width="250px"><%=image_tag @job.hospital.image.url(:small) %></td>
            </tr>
           
            <tr>
              <th>Especialidade:</th> <td><%= @job.area.name %></td>
            </tr>
            <tr>
              <th>Médico Responsável:</th>  <td><%= @job.user.name %></td>
            </tr>
            <tr>
              <th>Pré-requisitos:</th> <td><%= @job.dependencies %></td>
            </tr> 
            <tr>
               <th>Data:</th> <td><b><%= @job.date.strftime("%d/%m/%Y") %></b> 
               <b class=" clicavel btn btn-mini btn-d<%= @job.date.strftime('%w')%>"  type="button">
                    
                    <%= I18n.t("date."+@job.date.strftime("%A"))%>
                    </b>
                   <b class="btn btn-mini btn-<%=@job.shift.name%>"><%=@job.shift.name%></b></td>
            </tr>
            <tr>
               <th>Valor:</th> <td><%= to_real(@job.price) %></td>
            </tr>
            <tr>
              <th>Observações:</th> <td colspan="2"><%= @job.description %></td>
            </tr>
            <% if !@job.request_id.nil?%>
              <% if @job.request_id != 0 %>
                <tr>
                  <th>Candidato(a) Eleito(a):</th> <td colspan="2"><%= @job.request.user.name %> - <%= @job.request.try(:user).try(:area).try(:name) %></td>
                </tr>
              <% end %>
            <% end %>
           </tbody>          
          </table>
          <% if user_signed_in? %>

            <%# if( @job.user_id == current_user.id and @job.requests.count !=0 )or( !@job.request_id.nil? and @job.request_id != 0 ) %>
            <% if @job.user_id == current_user.id and @job.requests.count !=0 %>
              <h3>Candidatos</h3>
                
              
              <table class="table table-striped table-bordered table-condensed">
                <tr>
                  <th>Nome</th>
                  <th>Especialidade</th>
                  <th>Email</th>
                  <th></th>
                </tr>
                <% @job.requests.each do |cand| %>
                  <tr>
                    <td><%=cand.user.name%></td>
                    <td><%=cand.user.try(:area).try(:name)%></td>
                    <td><%=cand.user.email%></td>
               
                    <td>


                      <% if @job.request_id.nil? and cand.status_request_id == CONS::REQUEST[:AGUARDANDO_RESPOSTA] %>
                          <%= simple_form_for :job, :url => '/setJobRequest' ,:html => {:class => 'form-inline'}, :remote => true  do |f| %>
                            <%= f.hidden_field :job_id ,:value => @job.id %>
                            <%= f.hidden_field :request_id ,:value => cand.id %>
                            <%= f.submit "Eleger", :class => "btn btn-success" %>
                          <% end %>
                        <% else %>
                        <div class="btn ">
                          <%= cand.status_request.name %>
                        </div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>             
              </table>
            <% end %>  

            

            <%# se current_user é o dono do plantão %>
            <% if current_user.id ==@job.user.id  %>

              <div class="btn">Meu Plantão: 

                <% if @job.request_id.nil?%>
                  <%= link_to 'Editar', edit_job_path(@job) ,:class => "btn btn-mini btn-primary" %> 
                <% end %>   

                <% if @job.request_id.nil? or @job.request_id != 0 %>
                  <%= link_to 'Excluir', job_path(@job) , confirm: 'Você tem certeza que deseja excluir? Caso exista algum candidato para esse plantão, será debitado 1 crédito da sua conta!',:method => :delete  ,:class => "btn btn-mini btn-danger" %> 
                <% end %>

              </div>

            <% else %><%# se current_user NÃO é o dono do plantão %>
              <%#se nenhum candidato foi eleito%>
              <% if @job.request_id.nil?%>
                <%# se current_user NÃO se candidatou ao plantão %>
                <% if @eh_candidato.nil? %>
                  <%= simple_form_for [:customer,@request],:html => {:class => 'form-inline'}, :remote => true  do |f| %>
                    <%= f.hidden_field :job_id ,:value => @job.id %>
                    <%= f.submit "Pegar Plantão",  :confirm => 'Você tem certeza?', :class => "btn btn-success" %>
                  <% end %>
                <% else  %><%# se current_user já se candidatou ao plantão %>   

                    <% if @eh_candidato.status_request_id == CONS::REQUEST[:AGUARDANDO_RESPOSTA] %>
                      <div class="btn">Pleiteado: 
                        <%= link_to customer_request_path(@eh_candidato), confirm: 'Você tem Certeza que deseja Cancelar?', method: :delete, :remote => true do %>
                          <div class="btn btn-mini btn-danger"><b>Cancelar</b></div>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="btn">Cancelado: 
                        <%= link_to customer_request_path(@eh_candidato), confirm: 'Você tem certeza que deseja Repleitear?', method: :put, :remote => true do %>
                           <div class="btn btn-mini btn-success"><b>Repleitear</b></div>
                        <% end %>
                      </div>
                    <% end %>

                <% end %> 
              <% elsif !@eh_candidato.nil? and @eh_candidato.status_request_id == CONS::REQUEST[:ACEITO] %>
                  <div class="btn">Você é o Eleito: 
                    <%= link_to customer_request_path(@eh_candidato), confirm: 'Ao efetuar a desistência o médico responsável será notificado,mas o crédito não será devolvido. Você tem certeza que deseja continuar?', method: :delete, :remote => true do %>
                        <div class="btn btn-mini btn-danger"> <b>Desejo Efetuar Desistência</b> </div>
                    <% end %>
                  </div>
              <% end %>
            <% end %>
          <% end %>
        <br clear="all" />
        <div class="btn btn-success" ><%= @job.requests.count %> Cadidato(s)</div>   
        <%= link_to 'Voltar', jobs_path , :class => "btn btn-warning" %>
    </div>
  </div>

</body>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
    var map = null; 
      function carregar(){
      var endereco = "<%= @job.hospital.address %>,<%= @job.hospital.neighborhood %> <%= @job.hospital.complement %> <%= @job.hospital.city.name %> <%= @job.hospital.state.name %>";
          
          geocoder = new google.maps.Geocoder();    
          geocoder.geocode({'address':endereco}, function(results, status){ 
            if( status = google.maps.GeocoderStatus.OK){
              latlng = results[0].geometry.location;

              var myOptions = {
                zoom: 15,
                center:latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
          
            //criando o mapa
              map = new google.maps.Map(document.getElementById("mapa"), myOptions);
               var marker = new google.maps.Marker({
                position: latlng,
                title:"<%= @job.hospital.name %>"
            });
  
              // To add the marker to the map, call setMap();
              marker.setMap(map);  

            } 
          });  
          
      }
            
    </script>