
<body onload="carregar()">
  <div class="hero">
    <h1>Plantão</h1>
  </div>

  <div class="container">
     <div class="row-fluid">
      <div class="span4">
            <div id="mapa"></div>

            
      
      </div>
      <div class="span8">
          <table class="table table-striped well">
          <tbody>
            <tr>
                <th>Hospital:</th><td><%= @job.hospital.name %></td><td rowspan="6" width="250px"><%=image_tag @job.hospital.image.url(:small) %></td>
            </tr>
           
            <tr>
              <th>Especialidade:</th> <td><%= @job.area.name %></td>
            </tr>
            <tr>
              <th>Médico Responsável:</th>  <td><%= @job.user.name %></td>
            </tr>
            <tr>
              <th>Pré-requisitos:</th> <td><%= @job.dependencies %></td>
            </tr> 
            <tr>
               <th>Data:</th> <td><%= @job.date.strftime("%d/%m/%Y") %> (<%= I18n.t("date."+@job.date.strftime("%A"))%> - <%= @job.shift.name %>)</td>
            </tr>
            <tr>
               <th>Valor:</th> <td><%= to_real(@job.price) %></td>
            </tr>
            <tr>
              <th>Observações:</th> <td colspan="2"><%= @job.description %></td>
            </tr>
           </tbody>          
          </table>
            <% if user_signed_in? %>

            <% if @job.user_id == current_user.id %>
             <h3>Candidatos</h3>
                
              
              <table class="table table-striped table-bordered table-condensed">
                <tr>
                  <th>Nome</th>
                  <th>Especialidade</th>
                  <th>Email</th>
                  <th></th>
                </tr>
                <% @job.requests.each do |cand| %>
                  <tr>
                    <td><%=cand.user.name%></td>
                    <td><%=cand.user.try(:area).try(:name)%></td>
                    <td><%=cand.user.email%></td>
               
                    <td>
                      <% if @job.request_id.nil? %>
                        <% if cand.status_request_id == 4%>
                          <div class="btn btn-inverse"><%=cand.status_request.name%></div>
                        <% elsif cand.status_request_id == 6%>
                          <div class="btn btn-inverse"><%=cand.status_request.name%></div>
                        <% else %>
                          <%= simple_form_for :job, :url => '/setJobRequest' ,:html => {:class => 'form-inline'}, :remote => true  do |f| %>
                            <%= f.hidden_field :job_id ,:value => @job.id %>
                            <%= f.hidden_field :request_id ,:value => cand.id %>
                            <%= f.submit "Eleger", :class => "btn btn-success" %>
                          <% end %>
                        <% end %>
                      <% elsif @job.request_id == cand.id %>
                          <% if cand.status_request_id == 5 %>
                            <div class="btn btn-warning"><b>Desistência:</b>
                              <table>
                                <tr>
                                  <td>
                                    <%= simple_form_for :job, :url => '/acceptResire' ,:html => {:class => 'form-inline'}, :remote => true  do |f| %>
                                      <%= f.hidden_field :job_id ,:value => @job.id %>
                                      <%= f.hidden_field :request_id ,:value => cand.id %>
                                      <%= f.submit "Aceitar", :class => "btn btn-mini btn-primary" %>
                                    <% end %>
                                  </td>
                                  <td>
                                    <%= simple_form_for :job, :url => '/denyResire' ,:html => {:class => 'form-inline'}, :remote => true  do |f| %>
                                      <%= f.hidden_field :job_id ,:value => @job.id %>
                                      <%= f.hidden_field :request_id ,:value => cand.id %>
                                      <%= f.submit "Negar", :class => "btn btn-mini btn-danger" %>
                                    <% end %>
                                  </td>
                                </tr>
                              </table>
                          <% else %>
                            <div class="btn btn-success">Escolhido</div>
                          <% end %>
                       <% else  %>   
                        <div class="btn btn-inverse">Negado</div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>             
                </table>
              <% end %>  

              <div class="btn btn-success" ><%= @job.requests.count %> Cadidato(s)</div>     
              <% if current_user.id ==@job.user.id  %>
                <%= link_to 'Editar', edit_job_path(@job) ,:class => "btn btn-primary" %> 
              <% else %>
               
                  <% if !Request.where(:user_id => current_user.id,:job_id =>@job.id).first %>
                    <% if current_user.id != @job.user_id  %>
                      <%= simple_form_for [:customer,@request],:html => {:class => 'form-inline'}, :remote => true  do |f| %>
                        <%= f.hidden_field :job_id ,:value => @job.id %>
                        <%= f.submit "Pegar Plantão", :class => "btn btn-success" %>
                      <% end %>
                    <% else %>  
                    <div class="btn">Meu Plantão</div>
                    <% end %>
                  <% else  %>   
                    <div class="btn btn-warning">Pleiteado</div>
                  <% end %> 
                <% end %>
              
            <% end %>
               
            <%= link_to 'Voltar', jobs_path , :class => "btn btn-warning" %>
            
    
      


    </div>
  </div>

</body>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
    var map = null; 
      function carregar(){
      var endereco = "<%= @job.hospital.address %>,<%= @job.hospital.neighborhood %> <%= @job.hospital.complement %> <%= @job.hospital.city.name %> <%= @job.hospital.state.name %>";
          
          geocoder = new google.maps.Geocoder();    
          geocoder.geocode({'address':endereco}, function(results, status){ 
            if( status = google.maps.GeocoderStatus.OK){
              latlng = results[0].geometry.location;

              var myOptions = {
                zoom: 15,
                center:latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
          
            //criando o mapa
              map = new google.maps.Map(document.getElementById("mapa"), myOptions);
               var marker = new google.maps.Marker({
                position: latlng,
                title:"<%= @job.hospital.name %>"
            });
  
              // To add the marker to the map, call setMap();
              marker.setMap(map);  

            } 
          });  
          
      }
            
    </script>