<!DOCTYPE html>
<html>
<head>
	<title>PlantãoNet</title>
	<%= favicon_link_tag "/images/favicon.ico" %>
	<%= stylesheet_link_tag    "admin/application" %>
	<%= javascript_include_tag "admin/application" %>
	<%= csrf_meta_tags %>

</head>
<body>

	<%= render "layouts/admin/admin_menu" %>
	
	
	<div class="container">

		<div class="row">
			
			<% if flash %>
				<% if flash[:error] %>
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:error]%></p>
				</div>
				<%end%>

				<% if flash[:alert] %>
				<div class="alert alert-block">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:alert]%></p>
				</div>
				<%end%>

				<% if flash[:notice] %>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:notice]%></p>
				</div>
				<%end%>
			<% end -%>
			
			<br clear="all" />
			<div class="content">
				

			<%= yield %>
		</div>
		<br clear="all" />		
	</div>


		

	<div id='footer'>
		
	</div>
	
</body>
</html>
