<% @pagetitle = "Como Funciona?" %>

<div class="content">
	
  <div class="container">
  		<% @texto = "PlantãoNet é um sistema de troca de plantões médicos, e funciona assim:" %>

	    <div class="row-fluid">
	    	
			<div class="span12 destaque"><p><%= @texto %></p></div>
		</div>
		<div class="row-fluid">
			<div class="span3"></div>
			<div class="span6">
			    <div id="myCarousel" class="carousel slide">
	            	<!-- Itens de carousel -->
	                <div class="carousel-inner">
	                    <div class="active item"><%=image_tag "/images/1-cadPlantao.png" %></div>
	                    <div class="item"><%=image_tag "/images/2-cadHospital.png" %></div>
	                    <div class="item"><%=image_tag "/images/3-verPlantoes.png" %></div>
	                    <div class="item"><%=image_tag "/images/4-mostraPlantao.png" %></div>
	                    <div class="item"><%=image_tag "/images/5-Eleger.png" %></div>
	                    <div class="item"><%=image_tag "/images/6-candEleito.png" %></div>
	                </div>
	                <!-- Navegador do carousel -->
			    	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	            	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	            </div>
	        </div>
            <div class="span3"></div>
	  	</div> 
	 <br clear="all" />
	
	</div> 
	
	
</div>