<%= simple_form_for @hospital , :html => {:class => 'well form-horizontal',:multipart => true } do |f| %>
  <% if @hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% @hospital.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>  
  <% end %>

  <div class="control-group">
    <%= f.label 'Nome'  , :class => 'control-label' %>
    <div class="controls"><%= f.text_field :name, :class => 'span4' %></div>
  </div>

  <div class="control-group">
    <%= f.label 'Endereço'  , :class => 'control-label' %>
    <div class="controls"><%= f.text_field :address, :class => 'span4' %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Complemento'  , :class => 'control-label' %>
    <div class="controls"><%= f.text_field :complement, :class => 'span2' %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Bairro'  , :class => 'control-label' %>
    <div class="controls"><%= f.text_field :neighborhood, :class => 'span3' %></div>
  </div>
  <div class="control-group">
    <%= f.label 'CEP'  , :class => 'control-label' %>
    <div class="controls"><%= f.number_field :zip_code, :class => 'span2' %></div>
  </div>
  
  <div class="control-group">
    <%= f.association :state , :label => 'Estado', :multiple => true %>
  
    <% f.association :city , :label => 'Cidade', :collection => City.where(:state_id => 1) %>
    <%= f.association :city , :label => 'Cidade' %>
    
  </div>

  <div class="control-group">
    <%= f.label 'Descrição do Hospital'  , :class => 'control-label' %>
    <div class="controls"><%= f.text_area :description, :class => 'span6' %></div>
  </div>
  <div class="control-group">
    <%= f.label 'Foto'  , :class => 'control-label' %>
    <div class="controls"><%= f.file_field :photo ,:tittle => 'Procurar', :class => 'span5' %></div>
  </div>
  <div class="form-actions"><%= f.submit "Cadastrar", :class => "btn btn-primary" %></div>
<% end %>
