<h1>Hospitais</h1>

<% @hospitals.each do |hospital| %>

    <div class="thumbnail span3">
            <%=image_tag hospital.image.url(:small) %>
            <div class="caption">
              <h5><%= hospital.name %></h5>
              <h5><%= hospital.address %></h5>
              <h5><%= hospital.city.name %></h5>
              <h5><%= hospital.state.name %></h5>
              <p><%= hospital.description %></p>
              <p>
                <%= link_to 'Visualizar', hospital_path(hospital), :class => "btn btn-primary" %>
                <%= link_to 'Editar', edit_hospital_path(hospital), :class => "btn btn-warning" %>
              </p>
            </div>
    </div>


<% end %>


<br clear="all" />
<br clear="all" />

<%= link_to 'Cadastrar Hospital', new_hospital_path ,:class => "btn btn-primary" %>
