
<div class="well hero">
  <h1>Hospitais</h1>
       
</div>
<div class="container">
  <div class="row-fluid">

  <div class="span9"> 
    <a href="#submitform" data-toggle="tab" class="btn btn-large">

    
      <%= simple_form_for @hospital , :url => :showHospitals, :method => 'get' do |f| %>
        <%= f.text_field :name, :placeholder => 'Nome do Hospital' %>
        
        <%= f.association :state , :prompt => "Estado", :label => false %>
        <%= f.association :city ,:collection => City.find_all_by_state_id(0), :prompt => "Cidade", :label => false %>

      
      
   </a>
    <%= f.button :submit, "Filtrar", :class => "btn btn-primary " %> 
    <% end %>
 </div>

    <div class="span2"> 
      <% if user_signed_in? %> 
        <%= link_to 'Cadastrar Hospital', new_hospital_path ,:class => "btn huge btn-success" %>  
      <% end %>
    </div> 
  </div>
  <br clear="all"> 
  <br clear="all">
  <ul class="thumbnails">
    <% @hospitals.each do |hospital| %>
        
        <li class="span3">
          <div class="thumbnail">
                  <%=image_tag hospital.image.url(:small) %>
                  
                  <div class="caption">
                    <h5><%= hospital.acronym %></h5> 
                    <h5><%= hospital.name %></h5>
                    <h5><%= hospital.address %></h5>
                    <h5><%= hospital.city.name %> - <%= hospital.state.acronym %></h5>
                    
                    
                    <p>
                      <%= link_to 'Visualizar', hospital_path(hospital), :class => "btn btn-primary" %>
                      <% if user_signed_in? %>
                        <%= link_to 'Editar', edit_hospital_path(hospital), :class => "btn btn-warning" %>
                      <% end %>
                    </p>
                  </div>
          </div>
        </li>

    <% end %>
  </ul>
  <%= will_paginate @hospitals ,options = { :previous_label => "Anterior", :next_label => "Próximo", :class => "apple_pagination"} %>
</div>
