
<div class="well hero">
  <h1>Hospitais</h1>
       
</div>
  <div class="container">
    <div class="row-fluid">

    <%= simple_form_for @hospital , :url => :showHospitals, :html => {:class => 'well form-horizontal'} do |f| %>
      Filtrar por:
      <%= f.association :state , :prompt => "Escolha um estado", :label => 'Estado' %>
      <%= f.association :city ,:collection => City.find_all_by_state_id(0), :prompt => "Escolha uma Cidade", :label => 'Cidade' %>
      
      <%= f.button :submit, "Filtrar", :class => "btn btn-primary form-inline" %>
      <% if user_signed_in? %>
        <%= link_to 'Cadastrar Hospital', new_hospital_path ,:class => "btn btn-primary" %>
      <% end %>
    <% end %>


    <% @hospitals.each do |hospital| %>

        <div class="thumbnail span3">
                <%=image_tag hospital.image.url(:small) %>
                <div class="caption">
                  <h5><%= hospital.name %></h5>
                  <h5><%= hospital.address %></h5>
                  <h5><%= hospital.city.name %></h5>
                  <h5><%= hospital.state.name %></h5>
                  <p><%= hospital.description %></p>
                  <p>
                    <%= link_to 'Visualizar', hospital_path(hospital), :class => "btn btn-primary" %>
                    <% if user_signed_in? %>
                      <%= link_to 'Editar', edit_hospital_path(hospital), :class => "btn btn-warning" %>
                    <% end %>
                  </p>
                </div>
        </div>


    <% end %>

    
  </div>
</div>
