
<div class="well hero">
  <h1>Hospitais</h1>
       
</div>
<div class="container">
  <div class="row-fluid">

    <div class="span8"> 
          <%= simple_form_for @hospital , :url => :showHospitals, :html => {:class => 'well form-horizontal'} do |f| %>
            Filtrar por:
            <%= f.association :state , :prompt => "Escolha um estado", :label => 'Estado' %>
            <%= f.association :city ,:collection => City.find_all_by_state_id(0), :prompt => "Escolha uma Cidade", :label => 'Cidade' %>
            
            <%= f.button :submit, "Filtrar", :class => "btn btn-primary form-inline" %>
            
     
      
      <% end %>
    </div>
    <div class="span4"> 
      <% if user_signed_in? %> 
        <%= link_to 'Cadastrar Hospital', new_hospital_path ,:class => "btn huge btn-success" %>  
      <% end %>
    </div> 
  </div>
  <br clear="all">
  <br clear="all">
  <ul class="thumbnails">
    <% @hospitals.each do |hospital| %>

        <li class="span3">
          <div class="thumbnail">
                  <%=image_tag hospital.image.url(:small) %>
                  <div class="caption">
                    <h5><%= hospital.name %></h5>
                    <h5><%= hospital.address %></h5>
                    <h5><%= hospital.city.name %></h5>
                    <h5><%= hospital.state.name %></h5>
                    
                    <p>
                      <%= link_to 'Visualizar', hospital_path(hospital), :class => "btn btn-primary" %>
                      <% if user_signed_in? %>
                        <%= link_to 'Editar', edit_hospital_path(hospital), :class => "btn btn-warning" %>
                      <% end %>
                    </p>
                  </div>
          </div>
        </li>


    <% end %>
  </ul>
  <%= will_paginate @hospitals %>
</div>
