<h1>Hospitais</h1>

<% @hospitals.each do |hospital| %>

    <div class="thumbnail span3">
            <img src="http://placehold.it/260x180" alt="">
            <div class="caption">
              <h5><%= hospital.name %></h5>
              <h5><%= hospital.address %></h5>
              <h5><%= hospital.city.name %></h5>
              <h5><%= hospital.state.name %></h5>
              <p><%= hospital.description %></p>
              <p><a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a></p>
            </div>
    </div>


<% end %>


<br clear="all" />
<br clear="all" />

<%= link_to 'Cadastrar Hospital', new_hospital_path ,:class => "btn btn-primary" %>
