
 alert(unescape("<%= @name %>"));	
 <% if @save %>
 	window.location = "<%= job_path(@save) %>";
 	//$('#job<%=@save%>').html('<div class="btn btn-info"><b><%= @num %></b> Candidato(s)</div><div class="btn btn-warning">Pleiteado</div>');
 <% elsif @redirect %>
 	window.location = "<%= @redirect %>";
 <% end %>
 
