<h1>Meus Plantões</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Plantão</th>
    <th>Especialidade</th>
    <th>Data</th>
    <th>Status</th>
    <th></th>  
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.job.hospital.name %></td>
    <td><%= request.job.area.name %></td>
    <td><%= request.job.date.strftime("%d/%m/%Y - %H:%Mh") %></td>
    <td>
      <% if request.job.request_id.nil? %>
          Aguardando Moderação
      <% elsif request.job.request_id != request.id %>
          Cedido para outro candidato
      <% else %>
          Aceito
      <% end %>

    </td>
    
    <td><%= link_to 'Ver', customer_request_path(request) %></td>
    <% if request.job.request_id.nil? %>
      <td><%= link_to 'Desistir', customer_request_path(request), confirm: 'Você tem Certeza?', method: :delete, :remote => true %>
      </td>
     <% elsif  request.job.request_id == request.id %>  
       <td><%= link_to 'Solicitar Desistência', customer_request_path(request), confirm: 'A desistência depende da aceitação do moderador desse plantão.Você tem certeza que deseja continuar?', method: :delete, :remote => true %>
        </td>
    <% end %> 
  </tr>
<% end %>
</table>

