<div class="navbar navbar-fixed-top">	
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="/"><%= image_tag "logo_top.png" %></a>

				<div class="nav-collapse">

					<ul class="nav">
						<li ><a href="/"><i class="icon-white icon-home"></i>Inicio</a></li>
						<li><a href="<%=jobs_path%>"><i class="icon-white icon-time"></i>Plantões</a></li>
						<li><a href="<%=hospitals_path%>"><i class="icon-white icon-plus-sign"></i>Hospitais</a></li>
						
						<% if user_signed_in? %>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">
										<i class="icon-white icon-home"></i>Minha Conta
									</a>
									<ul class="dropdown-menu dropdown-minhaconta">

										<li>
											<a href="/users/edit"><i class="icon-white icon-plus-sign"></i>Meus Dados</a></li>
										<li><a href="/meusPlantoes"><i class="icon-white icon-plus-sign"></i>Plantões Cedidos</a></li>
										<li>
											<%= link_to 'plantoesPleiteados' do %>
												<i class="icon-white icon-plus-sign"></i>Plantões Pleiteados
											<% end %>
										</li>
										<li>
											<%= link_to new_job_path do %>
												<i class="icon-white icon-plus-sign"></i>Ceder Plantão
											<% end %>
										</li>
									</ul>
								</li>


								<!--li><a href="/buy"><i class="icon-white icon-shopping-cart"></i>Pacotes de Plantão</a></li-->

								<% if current_user.role == 'admin'%>
									<li><a href="/admin"><i class="icon-white icon-home"></i>Admin</a></li>
								<% end %>

						<% else %>
							<li><a href="/users/sign_in"><i class="icon-white icon-user"></i>Login</a>
								<% link_to('login', new_user_session_path)  %>
							</li>
							<li><a href="/users/sign_up"><i class="icon-white icon-pencil"></i>Cadastre-se</a>
								<% link_to('Cadastre-se', new_user_registration_path)  %></li>
						<% end %>
						
					</ul>
					<% if user_signed_in? %>

							<div class="btn-group pull-right">
								<% 
									if current_user.credits >0 
										@class = "btn-success"
									elsif current_user.credits < 0 
										@class = "btn-danger"
									end
								%>
								<a class="btn btn-primary" href="#"><i class="icon-white icon-user"></i>
									<b style="color:#fff">
			       					<%= current_user.name %> &nbsp; <b class="btn <%=@class%>">
												<%= current_user.credits %></b>
			       				</b>
								</a>

								<a class="btn btn-large btn-primary dropdown-toggle" href="#" data-toggle="dropdown"> 
									<span class="caret"></span>
								</a> 
							
								<ul class="dropdown-menu">
									
									<li>
										<a href="#">
											<b>Email: </b> <div id="user_numbids_menu" class="btn"><%= current_user.email %></div>
										</a>
									</li>
									<li>
										<a href="#" class="credits">
											<b>Créditos:</b>&nbsp; <b class="btn <%=@class%>">
												<%= current_user.credits %></b>&nbsp;
										</a>	
									</li>

									<li>

										<a href="#">
											<i class="icon-shopping-cart"></i>
											Meus Plantões
										</a>
									</li-->
									<li>
										<a href="/users/edit">
											<i class="icon-th-list"></i>
											Meus Dados
										</a>
									</li>
									<!--li>
										<a href="#">
											<i class="icon-star"></i>
											Créditos
										</a>
									</li-->
									<li class="divider"></li>
									<li>
										<a href="<%= destroy_user_session_path %>"  data-method="delete">
											<i class="icon-remove-sign"></i>
											Sair
											<% link_to("<i class=icon-remove>SAIR</i>", destroy_user_session_path, :method => :delete, :class => "remove",:title => 'Sair') %>	
										</a>
									</li>
								</ul>

							</div>

						
					<% else %>
					<div class="pull-right">
						<b class="btn">Login com:</b>
						<!--a href="<%= user_omniauth_authorize_path(:facebook) %>">
							<%= image_tag "fblogin.png", :title => "Facebook" %>
						</a-->
						<%= link_to image_tag('facebook.png'),user_omniauth_authorize_path(:facebook)  %>
						<%= link_to image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2) %>


						<% link_to('Login com Facebook',user_omniauth_authorize_path(:facebook), :class => 'btn btn-large btn-primary')  %>
						<% link_to('Login com Google', user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-large btn-primary')  %>
						
					</div>
					<% end %>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</div>
<br clear="all" />
<div id="landing">
	
	<div class="inner">
		
		<div class="container">
		
			<div class="row home txt-centralizado">
				<h1><%=@pagetitle%></h1>
				<br clear="all" />
			</div>
		</div>
	</div>
</div>
