<div class="navbar navbar-inner navbar-fixed-top">	
		
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<!--a class="brand" href="/">Lancemax</a-->

				<div class="nav-collapse">

					<ul class="nav">
						<li ><a href="/"><i class="icon-white icon-home"></i>Inicio</a></li>
						<li><a href="/jobs"><i class="icon-white icon-time"></i>Plantões</a></li>
						<li><a href="/hospitals"><i class="icon-white  icon-plus-sign"></i>Hospitais</a></li>
						<!--li><a href="/package"><i class="icon-white icon-shopping-cart"></i>Comprar Lances</a></li-->
						<% if user_signed_in? %>
								<li><a href="/customer"><i class="icon-white icon-home"></i>Minha Conta</a></li>
						<% else %>
							<li><a href="/users/sign_in"><i class="icon-white icon-user"></i>Login</a>
								<% link_to('login', new_user_session_path)  %>
							</li>
							<li><a href="/users/sign_up"><i class="icon-white icon-pencil"></i>Cadastre-se</a>
								<% link_to('Cadastre-se', new_user_registration_path)  %></li>
						<% end %>
						
					</ul>
					<% if user_signed_in? %>

							

							<div class="btn-group pull-right">
	
								<a class="btn btn-primary" href="#"><i class="icon-white icon-user"></i>
									<b style="color:#fff">
			       					<%= current_user.name %>
			       				</b>
								</a>
								<a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown"> 
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									
									<li>
										<a href="#">
											<b>Email:</b> <div id="user_numbids_menu" class="btn"><%= current_user.email %></div>
										</a>
									</li>

									<li>
										<a href="#">
											<i class="icon-shopping-cart"></i>
											Meus Plantões
										</a>
									</li>
									<li>
										<a href="/users/edit">
											<i class="icon-th-list"></i>
											Meus Dados
										</a>
									</li>
									<li>
										<a href="#">
											<i class="icon-star"></i>
											Créditos
										</a>
									</li>
									<li class="divider"></li>
									<li>
										<a href="<%= destroy_user_session_path %>"  data-method="delete">
											<i class="icon-remove-sign"></i>
											Sair
											<% link_to("<i class=icon-remove>SAIR</i>", destroy_user_session_path+"#delete", :method => :delete, :class => "remove",:title => 'Sair') %>	
										</a>
									</li>
								</ul>

							</div>

						
					<% else %>
					<div class="pull-right">
						<b class="btn">Login com:</b>
						<!--a href="<%= user_omniauth_authorize_path(:facebook) %>">
							<%= image_tag "fblogin.png", :title => "Facebook" %>
						</a-->
						<%= link_to image_tag('facebook.png'),user_omniauth_authorize_path(:facebook)  %>
						<%= link_to image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2) %>


						<% link_to('Login com Facebook',user_omniauth_authorize_path(:facebook), :class => 'btn btn-large btn-primary')  %>
						<% link_to('Login com Google', user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-large btn-primary')  %>
						
					</div>
					<% end %>
				</div><!--/.nav-collapse -->
			</div>
		
	</div>
</div>