<!DOCTYPE html>
<html>
<head>
	<title>Plantão Net</title>

	<%= favicon_link_tag "/images/logo_icon.ico" %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tags %>

</head>
<body>

	<%= render "layouts/menu" %>

	
	<div class="container-fluid">

		<div class="row-fluid">
			
			<% if flash %>
				<% if flash[:error] %>
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:error]%></p>
				</div>
				<%end%>

				<% if flash[:alert] %>
				<div class="alert alert-block">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:alert]%></p>
				</div>
				<%end%>

				<% if flash[:notice] %>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:notice]%></p>
				</div>
				<%end%>
			<% end -%>
			<div class="row"> 
				<% image_tag "logo_teste1.png", :size => "200x91" %> 
			</div>
			<br clear="all" />
		</div>

			<%= yield %>
		
		<br clear="all" />		
	</div>


		

	<div id='footer'>
		
	</div>
	
</body>
</html>
