<!DOCTYPE html>
<html>
<head>
	<title>Plantão Net</title>

	<%= favicon_link_tag "/images/favicon.ico" %>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript">
 	var RecaptchaOptions = {
    theme : 'white',
     lang : 'pt',
 	};
 	</script>
 	<link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
 	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34569138-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>
<body>

	<%= render "layouts/menu" %>

	
	<div class="container-fluid">

		<div class="row-fluid">
			
			<% if flash %>
				<% if flash[:error] %>
				<div class="alert alert-error">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:error]%></p>
				</div>
				<%end%>

				<% if flash[:alert] %>
				<div class="alert alert-block">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:alert]%></p>
				</div>
				<%end%>

				<% if flash[:notice] %>
				<div class="alert alert-success">
					<button class="close" data-dismiss="alert">×</button>
					<p><%= flash[:notice]%></p>
				</div>
				<%end%>
			<% end -%>
			<br clear="all" />
		</div>

			<%= yield %>
		
		<br clear="all" />		
	</div>


		

	<%= render "layouts/footer" %>
	
</body>
</html>
